$colors: ('basis-color': #000000, 'hover-color': #887628);

.mheader-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;

        a {
            margin: 2em;
            text-decoration: none;
            font-size: 1.3rem;
        }
}
