.about-container {
    width: 0 auto;
    height: 100vh;
    padding: 10rem 50px 5rem 50px;
    pointer-events: none;

    .title-heading {
        font-size: 4rem;
        font-family: 'Libre Baskerville', cursive;
    }

    .title {
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Open Sans', serif;
    }

    .about-article {
        margin-top: 2rem;
    }
}