$colors: ('basis-color': #000000, 'hover-color': #887628);
$current-color: currentColor;
@function text-color($color) {
    @if (lightness($color) > 50) {
      @return #000000; // Lighter background, return dark color
    } @else {
      @return #ffffff; // Darker background, return light color
    }
}

%header-preset {
    z-index: 999;
    display: block;
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 3rem 0 3rem 0;
    pointer-events: none;
}

%header-wrapper-preset {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding: 0 3rem 0 3rem;
    z-index: 1;
}

%header-menu-preset {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: 'Open Sans', serif;
    font-weight: lighter;
    font-size: 1.2rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    pointer-events: all;
}

.header {
    @extend %header-preset;

    .header-wrapper {
        @extend %header-wrapper-preset;

        .header-heading {
            flex: none;
            font-family: 'Libre Baskerville', cursive;
        
            .header-title {
                font-size: 1.8rem;
                pointer-events: auto;
            }   
        }

        .header-menu {
            @extend %header-menu-preset;
        
            &:hover {
                opacity: .5;
            }

            .header-icon {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #000;
            
                &:nth-child(1) {
                    top: 0;
                    margin-top: 1.3rem;
                }
            
                &:nth-child(3) {
                    bottom: 0;
                    margin-bottom: 1.3rem;
                }
            }
        }
    }
}

.header-open {
    @extend %header-preset;
    height: 100%;
    background: #000 !important;

    & * {
        color: #fff !important;
    }

    .header-wrapper-open {
        @extend %header-wrapper-preset;

        .header-heading-open {
            flex: none;
            font-family: 'Libre Baskerville', cursive !important;

            .header-title {
                font-size: 2.5rem;
                pointer-events: auto;
            }  
        }

        .header-menu-open {
            @extend %header-menu-preset;
        
            &:hover {
                opacity: .5;
            }

            .header-icon {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
            
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
            
                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.open-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & div * {
        margin-top: 2rem;
        font-size: 2rem;
        pointer-events: all;
        cursor: pointer;

        &:hover {
            opacity: .5;
            transition:  opacity 0.5s;
        }
    }
}
