$colors: ('basis-color': #000000, 'hover-color': #887628);
$current-color: currentColor;
@function text-color($color) {
    @if (lightness($color) > 50) {
      @return #000000; // Lighter background, return dark color
    } @else {
      @return #ffffff; // Darker background, return light color
    }
}

%header-setting {
    z-index: 999;
    display: block;
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 3rem 0 3rem 0;
    pointer-events: none;
}

.header {
    @extend %header-setting;

    .header-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: row;
        padding: 0 3rem 0 3rem;
        z-index: 1;

        .header-heading {
            flex: none;
            font-family: 'Libre Baskerville', cursive;
        
            .header-title {
                font-size: 1.8rem;
                pointer-events: auto;
            }   
        }

        .header-menu {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            font-family: 'Open Sans', serif;
            font-weight: lighter;
            font-size: 1.2rem;
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            pointer-events: all;
        
            &:hover {
                opacity: .5;
            }

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #000;
            
                &:nth-child(1) {
                    top: 0;
                    margin-top: 1.3rem;
                }
            
                &:nth-child(3) {
                    bottom: 0;
                    margin-bottom: 1.3rem;
                }
            }
        }
    }
}

.header-open {
    @extend %header-setting;
    height: 100%;
    background: #000;
}
