$colors: ('basis-color': #000000, 'hover-color': #887628);
$main-font: 'Playfair Display', serif;
$default-size: 10rem;

%bg-setting {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation-name: fadeInOut;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

.about-index {
    position: absolute;
    font-family: $main-font;
    font-size: 4rem;
    font-weight: lighter;
    z-index: 10;
}

.about-wrapper {
    height: calc(100% + 3rem);
    width: 100%;
    display: flex;
    flex-direction: row;

    &::after {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        animation-name: fadeInOut;
        animation-duration: 0.5s;
    }
}

.about-items {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    background-image: url(../imgs/laptop-keyboard.jpg);
    @extend %bg-setting;
}

.works {
    background-image: url(../imgs/bg3.jpg);
    @extend %bg-setting;
}

.activities {
    background-image: url(../imgs/bg1.jpg);
    @extend %bg-setting;
}

.members {
    background-image: url(../imgs/necktie.jpg);
    @extend %bg-setting;
}

.items-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.25), inset 0 0 15px 15px rgba(255, 255, 255, 0.35);
    background: inherit;

    &::after {
        content: '';
        flex-shrink: 1;
        flex-grow: 1;
        position: absolute;
        background: inherit;
        width: 100%;
        height: 100%;
        filter: blur(10px);
    }

    .selector-index {
        text-transform: uppercase;
        text-decoration: underline;
        color: map-get($colors, hover-color);
        z-index: 10;
    }

    .item-selector {
        position: relative;
        display: block;
        font-family: $main-font;
        font-size: 3rem;
        width: 100%;
        padding: 0;
        letter-spacing: initial;
        transition: ease-in-out 0.5s;
        z-index: 10;

        &:hover {
            color: map-get($colors, hover-color);
            cursor: pointer;
        }
    }
}

.contents::after {
    position: absolute;
    display: block;
    width: 0;
    height: 100%;
    content: '';
    background: red;
}

.hide {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.active {
    animation-name: onVisible;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.sub-contents {
    visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    border: 3px solid black;
}

.sub-item {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin: 0 15% 0 15%;
}

.cancel {
    width: 50px;
    height: 50px;
    background: blue;
}

@keyframes onVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}