$colors: ('basis-color': #000000, 'hover-color': #887628);
$main-font: 'Playfair Display', serif;

.about-index {
    font-family: $main-font;
    font-size: 4em;
    font-weight: lighter;
}

.item-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid green;
}

.img-box {
    flex: 1;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    border: 3px solid red;
}

.img-text {

}

.items {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-basis: 450px;
    flex-shrink: 1;
    flex-grow: 1;
    border: 3px solid goldenrod;
}

.item-selector {
    display: block;
    font-family: $main-font;
    font-size: 3em;
    margin-left: 20%;
}

.item-selector:hover {
    color: map-get($colors, hover-color);
    cursor: pointer;
}

.hide {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.active {
    animation-name: onVisible;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.sub-items {
    visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    border: 3px solid black;
}

@keyframes onVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}