%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%header-item-setting {
    padding: 0 2rem 0 2rem;
}

.section-works {
    position: relative;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.works-container {
    border-top: 1px solid rgb(175, 175, 175);
    padding: 1rem 0 1rem 0;
    user-select: none;
}

.works-header-container {
    @extend %flex-center;
    cursor: pointer;
    padding-bottom: 2rem;

    &:hover {
        opacity: 0.7;
    }
    
    .works-header-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        left: 0;
        margin-left: 1rem;
        opacity: 0;
    
        &::after {
            display: block;
            position: absolute;
            content: '';
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            margin: 6px 0 0 0;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
        }
    }

    .works-heading {
        @extend %header-item-setting;
        flex: 3;

        .works-header-title {
            font-weight: 500;
        }
    }

    .works-header-description {
        @extend %header-item-setting;
        flex: 2;
    }

    .works-header-year {
        @extend %header-item-setting;
        flex: 1;
        margin-left: auto;
    }
}

.works-sub-content-container {
}

.works-sub-content {
    @extend %flex-center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border: 1px solid green;
    overflow: hidden;

    .works-sub-image-wrapper {
        position: relative;
        border: 1px solid red;
        flex: 1;
        flex-shrink: 1;
        flex-grow: 1;

        .works-sub-image {
            height: 100%;
            width: 80%;
        }
    }

    .works-sub-content-description {
        border: 1px solid blue;
        width: 100%;
        height: 100%;
    }
}

.show-subs {
    height: 100%;
    transition: all 1s ease;
}

.not-subs {
    height: 0;
    transition: height 1s ease;
}

.sub-cont-vis {
    height: calc(100% + 1rem);
    transition: all 1s ease;
}

.sub-cont-not {
    height: 0;
    transition: all 1s ease;
}