$colors: ('bg-color': #000000, 'font-color': #887628);


footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    background: map-get($colors, bg-color);
    color: map-get($colors, font-color);
    font-size: 2em;
    font-family: 'Libre Baskerville', cursive;
    padding: 4em;
    width: 100%;
    height: 80vh;

    .footer-container {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid red;

        .footer-item {
            border: 1px solid blue;

            .cr {
                font-size: 0.8rem;
            }
        }
    }
}


