$colors: ('basis-color': #000000, 'hover-color': #887628);

.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 3rem 0 3rem 0;
    mix-blend-mode: difference;
    z-index: 999;
}

.header-wrapper {
    display: flex;
    align-items: baseline;    
    flex-direction: row;
    height: auto;
    padding: 0 3rem 0 3rem;
    color: #000;

    .header-heading {
        flex: none;
        font-family: 'Libre Baskerville', cursive;

        .header-title {
            font-size: 1.8rem;
            text-decoration: none;
            color: #fff;
        }   
    }

    .header-menu {
        margin-left: auto;
        font-family: 'Open Sans', serif;
        font-weight: lighter;
        font-size: 1.2rem;

        .link {
            margin: 2em;
            text-decoration: none;

            &:hover {
                color: map-get($colors, hover-color);
                text-decoration: line-through;
                transition: ease;
                transition-duration: 0.5s;
            }

        }
    }
}

a {
    color: #000;
    text-decoration: none;
}