$colors: ('basis-color': #000000, 'hover-color': #887628);

.header-menu {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 80%;
    min-width: 100%;
    z-index: 999;
    background-color: inherit;
}

a {
    margin: 2em;
    text-decoration: none;
    font-size: 1.3rem;
}

.float-left {
    float: left;
    font-family: 'Libre Baskerville', cursive;
}

.float-right {
    float: right;
    font-family: 'Open Sans', serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

.link {
    text-decoration: none;
    font-size: 1.3rem;
}

.link:visited {
    text-decoration: none;
    color: map-get($colors, basis-color);
}

.link:visited::after {
    color: white;
    content: '';
    mix-blend-mode: difference;
}

.float-right:hover {
    color: map-get($colors, hover-color);
    text-decoration: line-through;
    transition: ease;
    transition-duration: 0.5s;
}