$colors: ('basis-color': #000000, 'hover-color': #887628);
$current-color: currentColor;
@function text-color($color) {
    @if (lightness($color) > 50) {
      @return #000000; // Lighter background, return dark color
    } @else {
      @return #ffffff; // Darker background, return light color
    }
}

.header {
    z-index: 999;
    display: block;
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 3rem 0 3rem 0;
    mix-blend-mode: difference;
    pointer-events: none;
}

.header-wrapper {
    display: flex;
    position: relative;
    align-items: baseline;    
    flex-direction: row;
    height: auto;
    padding: 0 3rem 0 3rem;
    z-index: 1;

    .header-heading {
        flex: none;
        font-family: 'Libre Baskerville', cursive;

        .header-title {
            font-size: 1.8rem;
            pointer-events: auto;
        }   
    }

    .header-menu {
        margin-left: auto;
        font-family: 'Open Sans', serif;
        font-weight: lighter;
        font-size: 1.2rem;

        .link {
            margin: 2em;
            transition: color 0.5s ease;
            pointer-events: auto;
            
            &:hover {
                color: map-get($colors, hover-color);
                text-decoration: line-through;
                transition: ease;
                transition-duration: 0.5s;
            }
        }
    }
}