.home-center {
    display: flex;
    flex-basis: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: 'Libre Baskerville', cursive;
}

.home-text {
    display: flex;
    justify-content: space-between;
}

.bold {
    font-weight: 550;
}

.small {
    font-size: 1rem;
    color: #887628;
}