.section-container {
    border: 1px solid green;

}

.home-index {
    width: 35%;
    pointer-events: none;
}

.home-center {
    display: flex;
    flex-basis: 1;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.home-text {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.bold {
    font-weight: 550;
}

.small {
    font-size: 0.8rem;
    color: #887628;
}