* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background: transparent;
}

$tablet-brp: 768px;
$laptop-brp: 1024px;


@media only screen and (max-width: 768px) {
    .container {
        min-width: 320px;
        height: 100vh;
    }
    
    // home
    .home-index {
        width: 300px;
    }

    //about

    .about-section-container {
        border: 1px solid blue;
        height: inherit;
    }

    .item-container {
        height: 90%;
        width: auto 0;
    }

    .img-box {
        display: none;
    }

    .sub-items {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 0 auto;
        height: 100vh;
    }
    
    .home-index {
        width: 400px;
    }

    .about-section-container {
        padding: 5rem;
        border: 1px solid blue;
        height: inherit;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 0 auto;
        height: 100vh;
    }
    
    .home-index {
        width: 600px;
    }

    .about-section-container {
        padding: 5rem;
        border: 1px solid blue;
        height: inherit;
    }
}


.container {
    width: 0 auto;
    height: 100vh;
}

.section-container {
    padding: 5rem;
    border: 1px solid blue;
    height: inherit;
}

.contents {
    border: 1px solid black;
    height: 100%;
}