* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

*::selection {
    background: transparent;
}

body {
}

$tablet-brp: 768px;
$laptop-brp: 1024px;

// Mobile
@media only screen and (max-width: 768px) {
    .container {
        min-width: 320px;
        height: 100vh;
    }
    
    // home
    .home-index {
        width: 300px;
    }

    .home-text .small {
        font-size: 0.7rem;
    }

    .item-container {
        height: 90%;
        width: auto 0;
    }

    .item-container .left {
        display: none;
        visibility: hidden;
    }

    .item-container .right {
        width: 100%;
    }

    .item-selector {
        font-size: 2rem;
        padding: 10% 25% 10% 25%;
    }
}

// Tablet
@media only screen and (min-width: 768px) {
    .container {
        width: 0 auto;
        height: 100vh;
    }
    
    .home-index {
        width: 400px;
    }

    .home-text {
        font-size: 1.8rem;
    }
}

// Laptop
@media only screen and (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }

    .container {
        width: 0 auto;
        height: 100vh;
    }
    
    .home-index {
        width: 600px;
    }

    .home-text {
        font-size: 2rem;
    }
}

// Desktop
@media only screen and (min-width: 1980px) {
    body {
        font-size: 2.5rem;
    }

    .home-index {
        width: 40%;
    }

    .home-text {
        font-size: 3.5rem;
    }

    .home-text .small {
        font-size: 1.8rem;
    }
}


.container {
    width: 0 auto;
    height: 100vh;
}

.section-container {
    padding: 2rem;
    border: 1px solid blue;
    height: inherit;
}

.contents {
    border: 1px solid black;
    height: 100%;
}